In [1]:
# 导入库：KNeighborsClassifier
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
%matplotlib inline
# 导入sklearn自带数据集
from sklearn import datasets
import  pandas as  pd
from  sklearn.linear_model import  LogisticRegression

In [2]:
path=r"adults.txt"

In [3]:
data=pd.read_csv(path)
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [4]:
data["age"]

0        39
1        50
2        38
3        53
4        28
5        37
6        49
7        52
8        31
9        42
10       37
11       30
12       23
13       32
14       40
15       34
16       25
17       32
18       38
19       43
20       40
21       54
22       35
23       43
24       59
25       56
26       19
27       54
28       39
29       49
         ..
32531    30
32532    34
32533    54
32534    37
32535    22
32536    34
32537    30
32538    38
32539    71
32540    45
32541    41
32542    72
32543    45
32544    31
32545    39
32546    37
32547    43
32548    65
32549    43
32550    43
32551    32
32552    43
32553    32
32554    53
32555    22
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, dtype: int64

In [5]:
data.shape

(32561, 15)

In [6]:
data.index

RangeIndex(start=0, stop=32561, step=1)

In [7]:
data.columns

Index(['age', 'workclass', 'final_weight', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'salary'],
      dtype='object')

In [8]:
X=data[['age','education','marital_status','sex' ,'hours_per_week']]
X

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>age</th>
      <th>education</th>
      <th>marital_status</th>
      <th>sex</th>
      <th>hours_per_week</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>39</td>
      <td>Bachelors</td>
      <td>Never-married</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>1</th>
      <td>50</td>
      <td>Bachelors</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>13</td>
    </tr>
    <tr>
      <th>2</th>
      <td>38</td>
      <td>HS-grad</td>
      <td>Divorced</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>3</th>
      <td>53</td>
      <td>11th</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>4</th>
      <td>28</td>
      <td>Bachelors</td>
      <td>Married-civ-spouse</td>
      <td>Female</td>
      <td>40</td>
    </tr>
    <tr>
      <th>5</th>
      <td>37</td>
      <td>Masters</td>
      <td>Married-civ-spouse</td>
      <td>Female</td>
      <td>40</td>
    </tr>
    <tr>
      <th>6</th>
      <td>49</td>
      <td>9th</td>
      <td>Married-spouse-absent</td>
      <td>Female</td>
      <td>16</td>
    </tr>
    <tr>
      <th>7</th>
      <td>52</td>
      <td>HS-grad</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>45</td>
    </tr>
    <tr>
      <th>8</th>
      <td>31</td>
      <td>Masters</td>
      <td>Never-married</td>
      <td>Female</td>
      <td>50</td>
    </tr>
    <tr>
      <th>9</th>
      <td>42</td>
      <td>Bachelors</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>Some-college</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>80</td>
    </tr>
    <tr>
      <th>11</th>
      <td>30</td>
      <td>Bachelors</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>12</th>
      <td>23</td>
      <td>Bachelors</td>
      <td>Never-married</td>
      <td>Female</td>
      <td>30</td>
    </tr>
    <tr>
      <th>13</th>
      <td>32</td>
      <td>Assoc-acdm</td>
      <td>Never-married</td>
      <td>Male</td>
      <td>50</td>
    </tr>
    <tr>
      <th>14</th>
      <td>40</td>
      <td>Assoc-voc</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>15</th>
      <td>34</td>
      <td>7th-8th</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>45</td>
    </tr>
    <tr>
      <th>16</th>
      <td>25</td>
      <td>HS-grad</td>
      <td>Never-married</td>
      <td>Male</td>
      <td>35</td>
    </tr>
    <tr>
      <th>17</th>
      <td>32</td>
      <td>HS-grad</td>
      <td>Never-married</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>18</th>
      <td>38</td>
      <td>11th</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>50</td>
    </tr>
    <tr>
      <th>19</th>
      <td>43</td>
      <td>Masters</td>
      <td>Divorced</td>
      <td>Female</td>
      <td>45</td>
    </tr>
    <tr>
      <th>20</th>
      <td>40</td>
      <td>Doctorate</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>60</td>
    </tr>
    <tr>
      <th>21</th>
      <td>54</td>
      <td>HS-grad</td>
      <td>Separated</td>
      <td>Female</td>
      <td>20</td>
    </tr>
    <tr>
      <th>22</th>
      <td>35</td>
      <td>9th</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>23</th>
      <td>43</td>
      <td>11th</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>24</th>
      <td>59</td>
      <td>HS-grad</td>
      <td>Divorced</td>
      <td>Female</td>
      <td>40</td>
    </tr>
    <tr>
      <th>25</th>
      <td>56</td>
      <td>Bachelors</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>26</th>
      <td>19</td>
      <td>HS-grad</td>
      <td>Never-married</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>27</th>
      <td>54</td>
      <td>Some-college</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>60</td>
    </tr>
    <tr>
      <th>28</th>
      <td>39</td>
      <td>HS-grad</td>
      <td>Divorced</td>
      <td>Male</td>
      <td>80</td>
    </tr>
    <tr>
      <th>29</th>
      <td>49</td>
      <td>HS-grad</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>32531</th>
      <td>30</td>
      <td>Bachelors</td>
      <td>Never-married</td>
      <td>Female</td>
      <td>99</td>
    </tr>
    <tr>
      <th>32532</th>
      <td>34</td>
      <td>Doctorate</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>60</td>
    </tr>
    <tr>
      <th>32533</th>
      <td>54</td>
      <td>Bachelors</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>50</td>
    </tr>
    <tr>
      <th>32534</th>
      <td>37</td>
      <td>Some-college</td>
      <td>Divorced</td>
      <td>Female</td>
      <td>39</td>
    </tr>
    <tr>
      <th>32535</th>
      <td>22</td>
      <td>12th</td>
      <td>Never-married</td>
      <td>Male</td>
      <td>35</td>
    </tr>
    <tr>
      <th>32536</th>
      <td>34</td>
      <td>Bachelors</td>
      <td>Never-married</td>
      <td>Female</td>
      <td>55</td>
    </tr>
    <tr>
      <th>32537</th>
      <td>30</td>
      <td>HS-grad</td>
      <td>Never-married</td>
      <td>Male</td>
      <td>46</td>
    </tr>
    <tr>
      <th>32538</th>
      <td>38</td>
      <td>Bachelors</td>
      <td>Divorced</td>
      <td>Female</td>
      <td>45</td>
    </tr>
    <tr>
      <th>32539</th>
      <td>71</td>
      <td>Doctorate</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>10</td>
    </tr>
    <tr>
      <th>32540</th>
      <td>45</td>
      <td>HS-grad</td>
      <td>Separated</td>
      <td>Female</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32541</th>
      <td>41</td>
      <td>HS-grad</td>
      <td>Separated</td>
      <td>Female</td>
      <td>32</td>
    </tr>
    <tr>
      <th>32542</th>
      <td>72</td>
      <td>HS-grad</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>25</td>
    </tr>
    <tr>
      <th>32543</th>
      <td>45</td>
      <td>Assoc-acdm</td>
      <td>Divorced</td>
      <td>Female</td>
      <td>48</td>
    </tr>
    <tr>
      <th>32544</th>
      <td>31</td>
      <td>Masters</td>
      <td>Divorced</td>
      <td>Female</td>
      <td>30</td>
    </tr>
    <tr>
      <th>32545</th>
      <td>39</td>
      <td>Assoc-acdm</td>
      <td>Married-civ-spouse</td>
      <td>Female</td>
      <td>20</td>
    </tr>
    <tr>
      <th>32546</th>
      <td>37</td>
      <td>Assoc-acdm</td>
      <td>Divorced</td>
      <td>Female</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32547</th>
      <td>43</td>
      <td>HS-grad</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32548</th>
      <td>65</td>
      <td>Prof-school</td>
      <td>Never-married</td>
      <td>Male</td>
      <td>60</td>
    </tr>
    <tr>
      <th>32549</th>
      <td>43</td>
      <td>Some-college</td>
      <td>Divorced</td>
      <td>Female</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32550</th>
      <td>43</td>
      <td>Some-college</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>50</td>
    </tr>
    <tr>
      <th>32551</th>
      <td>32</td>
      <td>10th</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32552</th>
      <td>43</td>
      <td>Assoc-voc</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>45</td>
    </tr>
    <tr>
      <th>32553</th>
      <td>32</td>
      <td>Masters</td>
      <td>Never-married</td>
      <td>Male</td>
      <td>11</td>
    </tr>
    <tr>
      <th>32554</th>
      <td>53</td>
      <td>Masters</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32555</th>
      <td>22</td>
      <td>Some-college</td>
      <td>Never-married</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32556</th>
      <td>27</td>
      <td>Assoc-acdm</td>
      <td>Married-civ-spouse</td>
      <td>Female</td>
      <td>38</td>
    </tr>
    <tr>
      <th>32557</th>
      <td>40</td>
      <td>HS-grad</td>
      <td>Married-civ-spouse</td>
      <td>Male</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32558</th>
      <td>58</td>
      <td>HS-grad</td>
      <td>Widowed</td>
      <td>Female</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32559</th>
      <td>22</td>
      <td>HS-grad</td>
      <td>Never-married</td>
      <td>Male</td>
      <td>20</td>
    </tr>
    <tr>
      <th>32560</th>
      <td>52</td>
      <td>HS-grad</td>
      <td>Married-civ-spouse</td>
      <td>Female</td>
      <td>40</td>
    </tr>
  </tbody>
</table>
<p>32561 rows × 5 columns</p>
</div>

In [9]:
Y=data['salary']
Y

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
5        <=50K
6        <=50K
7         >50K
8         >50K
9         >50K
10        >50K
11        >50K
12       <=50K
13       <=50K
14        >50K
15       <=50K
16       <=50K
17       <=50K
18       <=50K
19        >50K
20        >50K
21       <=50K
22       <=50K
23       <=50K
24       <=50K
25        >50K
26       <=50K
27        >50K
28       <=50K
29       <=50K
         ...
32531    <=50K
32532     >50K
32533     >50K
32534    <=50K
32535    <=50K
32536     >50K
32537    <=50K
32538     >50K
32539     >50K
32540    <=50K
32541    <=50K
32542    <=50K
32543    <=50K
32544    <=50K
32545     >50K
32546    <=50K
32547    <=50K
32548    <=50K
32549    <=50K
32550    <=50K
32551    <=50K
32552    <=50K
32553    <=50K
32554     >50K
32555    <=50K
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: salary, dtype: object

In [10]:
X=data[['age','education','occupation' ,'hours_per_week']]
X

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>age</th>
      <th>education</th>
      <th>occupation</th>
      <th>hours_per_week</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>39</td>
      <td>Bachelors</td>
      <td>Adm-clerical</td>
      <td>40</td>
    </tr>
    <tr>
      <th>1</th>
      <td>50</td>
      <td>Bachelors</td>
      <td>Exec-managerial</td>
      <td>13</td>
    </tr>
    <tr>
      <th>2</th>
      <td>38</td>
      <td>HS-grad</td>
      <td>Handlers-cleaners</td>
      <td>40</td>
    </tr>
    <tr>
      <th>3</th>
      <td>53</td>
      <td>11th</td>
      <td>Handlers-cleaners</td>
      <td>40</td>
    </tr>
    <tr>
      <th>4</th>
      <td>28</td>
      <td>Bachelors</td>
      <td>Prof-specialty</td>
      <td>40</td>
    </tr>
    <tr>
      <th>5</th>
      <td>37</td>
      <td>Masters</td>
      <td>Exec-managerial</td>
      <td>40</td>
    </tr>
    <tr>
      <th>6</th>
      <td>49</td>
      <td>9th</td>
      <td>Other-service</td>
      <td>16</td>
    </tr>
    <tr>
      <th>7</th>
      <td>52</td>
      <td>HS-grad</td>
      <td>Exec-managerial</td>
      <td>45</td>
    </tr>
    <tr>
      <th>8</th>
      <td>31</td>
      <td>Masters</td>
      <td>Prof-specialty</td>
      <td>50</td>
    </tr>
    <tr>
      <th>9</th>
      <td>42</td>
      <td>Bachelors</td>
      <td>Exec-managerial</td>
      <td>40</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>Some-college</td>
      <td>Exec-managerial</td>
      <td>80</td>
    </tr>
    <tr>
      <th>11</th>
      <td>30</td>
      <td>Bachelors</td>
      <td>Prof-specialty</td>
      <td>40</td>
    </tr>
    <tr>
      <th>12</th>
      <td>23</td>
      <td>Bachelors</td>
      <td>Adm-clerical</td>
      <td>30</td>
    </tr>
    <tr>
      <th>13</th>
      <td>32</td>
      <td>Assoc-acdm</td>
      <td>Sales</td>
      <td>50</td>
    </tr>
    <tr>
      <th>14</th>
      <td>40</td>
      <td>Assoc-voc</td>
      <td>Craft-repair</td>
      <td>40</td>
    </tr>
    <tr>
      <th>15</th>
      <td>34</td>
      <td>7th-8th</td>
      <td>Transport-moving</td>
      <td>45</td>
    </tr>
    <tr>
      <th>16</th>
      <td>25</td>
      <td>HS-grad</td>
      <td>Farming-fishing</td>
      <td>35</td>
    </tr>
    <tr>
      <th>17</th>
      <td>32</td>
      <td>HS-grad</td>
      <td>Machine-op-inspct</td>
      <td>40</td>
    </tr>
    <tr>
      <th>18</th>
      <td>38</td>
      <td>11th</td>
      <td>Sales</td>
      <td>50</td>
    </tr>
    <tr>
      <th>19</th>
      <td>43</td>
      <td>Masters</td>
      <td>Exec-managerial</td>
      <td>45</td>
    </tr>
    <tr>
      <th>20</th>
      <td>40</td>
      <td>Doctorate</td>
      <td>Prof-specialty</td>
      <td>60</td>
    </tr>
    <tr>
      <th>21</th>
      <td>54</td>
      <td>HS-grad</td>
      <td>Other-service</td>
      <td>20</td>
    </tr>
    <tr>
      <th>22</th>
      <td>35</td>
      <td>9th</td>
      <td>Farming-fishing</td>
      <td>40</td>
    </tr>
    <tr>
      <th>23</th>
      <td>43</td>
      <td>11th</td>
      <td>Transport-moving</td>
      <td>40</td>
    </tr>
    <tr>
      <th>24</th>
      <td>59</td>
      <td>HS-grad</td>
      <td>Tech-support</td>
      <td>40</td>
    </tr>
    <tr>
      <th>25</th>
      <td>56</td>
      <td>Bachelors</td>
      <td>Tech-support</td>
      <td>40</td>
    </tr>
    <tr>
      <th>26</th>
      <td>19</td>
      <td>HS-grad</td>
      <td>Craft-repair</td>
      <td>40</td>
    </tr>
    <tr>
      <th>27</th>
      <td>54</td>
      <td>Some-college</td>
      <td>?</td>
      <td>60</td>
    </tr>
    <tr>
      <th>28</th>
      <td>39</td>
      <td>HS-grad</td>
      <td>Exec-managerial</td>
      <td>80</td>
    </tr>
    <tr>
      <th>29</th>
      <td>49</td>
      <td>HS-grad</td>
      <td>Craft-repair</td>
      <td>40</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>32531</th>
      <td>30</td>
      <td>Bachelors</td>
      <td>?</td>
      <td>99</td>
    </tr>
    <tr>
      <th>32532</th>
      <td>34</td>
      <td>Doctorate</td>
      <td>Prof-specialty</td>
      <td>60</td>
    </tr>
    <tr>
      <th>32533</th>
      <td>54</td>
      <td>Bachelors</td>
      <td>Exec-managerial</td>
      <td>50</td>
    </tr>
    <tr>
      <th>32534</th>
      <td>37</td>
      <td>Some-college</td>
      <td>Adm-clerical</td>
      <td>39</td>
    </tr>
    <tr>
      <th>32535</th>
      <td>22</td>
      <td>12th</td>
      <td>Protective-serv</td>
      <td>35</td>
    </tr>
    <tr>
      <th>32536</th>
      <td>34</td>
      <td>Bachelors</td>
      <td>Exec-managerial</td>
      <td>55</td>
    </tr>
    <tr>
      <th>32537</th>
      <td>30</td>
      <td>HS-grad</td>
      <td>Craft-repair</td>
      <td>46</td>
    </tr>
    <tr>
      <th>32538</th>
      <td>38</td>
      <td>Bachelors</td>
      <td>Prof-specialty</td>
      <td>45</td>
    </tr>
    <tr>
      <th>32539</th>
      <td>71</td>
      <td>Doctorate</td>
      <td>?</td>
      <td>10</td>
    </tr>
    <tr>
      <th>32540</th>
      <td>45</td>
      <td>HS-grad</td>
      <td>Adm-clerical</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32541</th>
      <td>41</td>
      <td>HS-grad</td>
      <td>?</td>
      <td>32</td>
    </tr>
    <tr>
      <th>32542</th>
      <td>72</td>
      <td>HS-grad</td>
      <td>?</td>
      <td>25</td>
    </tr>
    <tr>
      <th>32543</th>
      <td>45</td>
      <td>Assoc-acdm</td>
      <td>Prof-specialty</td>
      <td>48</td>
    </tr>
    <tr>
      <th>32544</th>
      <td>31</td>
      <td>Masters</td>
      <td>Other-service</td>
      <td>30</td>
    </tr>
    <tr>
      <th>32545</th>
      <td>39</td>
      <td>Assoc-acdm</td>
      <td>Adm-clerical</td>
      <td>20</td>
    </tr>
    <tr>
      <th>32546</th>
      <td>37</td>
      <td>Assoc-acdm</td>
      <td>Tech-support</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32547</th>
      <td>43</td>
      <td>HS-grad</td>
      <td>Machine-op-inspct</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32548</th>
      <td>65</td>
      <td>Prof-school</td>
      <td>Prof-specialty</td>
      <td>60</td>
    </tr>
    <tr>
      <th>32549</th>
      <td>43</td>
      <td>Some-college</td>
      <td>Adm-clerical</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32550</th>
      <td>43</td>
      <td>Some-college</td>
      <td>Craft-repair</td>
      <td>50</td>
    </tr>
    <tr>
      <th>32551</th>
      <td>32</td>
      <td>10th</td>
      <td>Handlers-cleaners</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32552</th>
      <td>43</td>
      <td>Assoc-voc</td>
      <td>Sales</td>
      <td>45</td>
    </tr>
    <tr>
      <th>32553</th>
      <td>32</td>
      <td>Masters</td>
      <td>Tech-support</td>
      <td>11</td>
    </tr>
    <tr>
      <th>32554</th>
      <td>53</td>
      <td>Masters</td>
      <td>Exec-managerial</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32555</th>
      <td>22</td>
      <td>Some-college</td>
      <td>Protective-serv</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32556</th>
      <td>27</td>
      <td>Assoc-acdm</td>
      <td>Tech-support</td>
      <td>38</td>
    </tr>
    <tr>
      <th>32557</th>
      <td>40</td>
      <td>HS-grad</td>
      <td>Machine-op-inspct</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32558</th>
      <td>58</td>
      <td>HS-grad</td>
      <td>Adm-clerical</td>
      <td>40</td>
    </tr>
    <tr>
      <th>32559</th>
      <td>22</td>
      <td>HS-grad</td>
      <td>Adm-clerical</td>
      <td>20</td>
    </tr>
    <tr>
      <th>32560</th>
      <td>52</td>
      <td>HS-grad</td>
      <td>Exec-managerial</td>
      <td>40</td>
    </tr>
  </tbody>
</table>
<p>32561 rows × 4 columns</p>
</div>

In [11]:
X["education"].unique().size

16

In [12]:
X["occupation"].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [13]:
def  edu2float(edu): #任何学历，返回一个数字代表
    return  np.argwhere(X["education"].unique()==edu)[0,0]

In [14]:
def  occupation2float(occupation): #任何学历，返回一个数字代表
    return  np.argwhere(X["occupation"].unique()==occupation)[0,0]

In [16]:
X["occupation"]=X["occupation"].map(occupation2float)
X["education"]=X["education"].map(edu2float)

c:\users\tsinghua-yincheng\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

c:\users\tsinghua-yincheng\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
X_train=X.iloc[:-1000] #训练数据
X_test=X.iloc[-1000:]#测试数据
Y_train=Y.iloc[:-1000] #训练数据
Y_test=Y.iloc[-1000:]#测试数据

In [18]:
logic=LogisticRegression()
logic.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [19]:
Ynew=logic.predict(X_test) #用测试数据产生预测结果

In [20]:
result=(Y_test==Ynew) #统计相等个数
accuracy=result.sum()/1000 #统计成功率
accuracy

0.73899999999999999