In [1]:
import pandas as pd
# 使图表更大更漂亮
pd.set_option('display.mpl_style', 'default')  #默认的显示风格
pd.set_option('display.line_width', 5000) #一行最大宽度
pd.set_option('display.max_columns', 60)#最多有60列

c:\users\tsinghua-yincheng\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:2910: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)

line_width has been deprecated, use display.width instead (currently both are
identical)

In [2]:
nasa=pd.read_table(r"C:\Users\Tsinghua-yincheng\Desktop\SZday72\nasa.txt")

In [4]:
nasa[1:1]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>会员ID</th>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>身高</th>
      <th>学历</th>
      <th>婚否</th>
      <th>所在地</th>
      <th>星座</th>
      <th>职业</th>
      <th>语言</th>
      <th>愿意/可能前往</th>
      <th>服务收费/支付能力</th>
      <th>伴游经验</th>
      <th>服务内容/需求服务</th>
      <th>伴游心情/其他说明</th>
      <th>最方便联系时间</th>
      <th>联系电话</th>
      <th>Email</th>
      <th>博客</th>
      <th>QQ</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [5]:
nasa[1:2]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>会员ID</th>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>身高</th>
      <th>学历</th>
      <th>婚否</th>
      <th>所在地</th>
      <th>星座</th>
      <th>职业</th>
      <th>语言</th>
      <th>愿意/可能前往</th>
      <th>服务收费/支付能力</th>
      <th>伴游经验</th>
      <th>服务内容/需求服务</th>
      <th>伴游心情/其他说明</th>
      <th>最方便联系时间</th>
      <th>联系电话</th>
      <th>Email</th>
      <th>博客</th>
      <th>QQ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>88548</td>
      <td>n小姐</td>
      <td>女</td>
      <td>22</td>
      <td>162</td>
      <td>本科</td>
      <td>未婚</td>
      <td>合肥</td>
      <td>山羊座</td>
      <td>在校学生</td>
      <td>普通话,英语</td>
      <td>安徽,合肥</td>
      <td>面议元/天</td>
      <td>初次接触</td>
      <td>私人伴游</td>
      <td>希望游客素质比较好，相互尊重，出言不逊者请勿扰。比较好奇，没试过。通过连接看到的，所以就注册...</td>
      <td>8:00—23:00</td>
      <td>未认证暂不开放或已设置成永久保密</td>
      <td>2574230157@qq.com</td>
      <td>http://www.banyou.com/</td>
      <td>2574230157</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
nasa[1:2] #只能按照M-N之间，不可以按照数组的索引

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>会员ID</th>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>身高</th>
      <th>学历</th>
      <th>婚否</th>
      <th>所在地</th>
      <th>星座</th>
      <th>职业</th>
      <th>语言</th>
      <th>愿意/可能前往</th>
      <th>服务收费/支付能力</th>
      <th>伴游经验</th>
      <th>服务内容/需求服务</th>
      <th>伴游心情/其他说明</th>
      <th>最方便联系时间</th>
      <th>联系电话</th>
      <th>Email</th>
      <th>博客</th>
      <th>QQ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>88548</td>
      <td>n小姐</td>
      <td>女</td>
      <td>22</td>
      <td>162</td>
      <td>本科</td>
      <td>未婚</td>
      <td>合肥</td>
      <td>山羊座</td>
      <td>在校学生</td>
      <td>普通话,英语</td>
      <td>安徽,合肥</td>
      <td>面议元/天</td>
      <td>初次接触</td>
      <td>私人伴游</td>
      <td>希望游客素质比较好，相互尊重，出言不逊者请勿扰。比较好奇，没试过。通过连接看到的，所以就注册...</td>
      <td>8:00—23:00</td>
      <td>未认证暂不开放或已设置成永久保密</td>
      <td>2574230157@qq.com</td>
      <td>http://www.banyou.com/</td>
      <td>2574230157</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
type(nasa)

pandas.core.frame.DataFrame

In [12]:
import tushare as ts
stock=ts.get_hist_data('600848') #一次性获取全部日k线数据
stock

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>close</th>
      <th>low</th>
      <th>volume</th>
      <th>price_change</th>
      <th>p_change</th>
      <th>ma5</th>
      <th>ma10</th>
      <th>ma20</th>
      <th>v_ma5</th>
      <th>v_ma10</th>
      <th>v_ma20</th>
      <th>turnover</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-11-28</th>
      <td>24.01</td>
      <td>24.90</td>
      <td>24.70</td>
      <td>24.00</td>
      <td>49008.50</td>
      <td>0.50</td>
      <td>2.07</td>
      <td>24.530</td>
      <td>25.573</td>
      <td>27.421</td>
      <td>61031.58</td>
      <td>88746.39</td>
      <td>145784.73</td>
      <td>1.23</td>
    </tr>
    <tr>
      <th>2017-11-27</th>
      <td>24.40</td>
      <td>24.95</td>
      <td>24.21</td>
      <td>24.01</td>
      <td>58332.89</td>
      <td>-0.23</td>
      <td>-0.94</td>
      <td>24.646</td>
      <td>26.037</td>
      <td>27.908</td>
      <td>67208.79</td>
      <td>108222.87</td>
      <td>161417.35</td>
      <td>1.46</td>
    </tr>
    <tr>
      <th>2017-11-24</th>
      <td>24.10</td>
      <td>24.70</td>
      <td>24.45</td>
      <td>24.09</td>
      <td>53160.52</td>
      <td>0.43</td>
      <td>1.79</td>
      <td>24.822</td>
      <td>26.441</td>
      <td>28.300</td>
      <td>80676.85</td>
      <td>117984.89</td>
      <td>175389.32</td>
      <td>1.33</td>
    </tr>
    <tr>
      <th>2017-11-23</th>
      <td>25.30</td>
      <td>25.43</td>
      <td>24.03</td>
      <td>23.98</td>
      <td>76386.50</td>
      <td>-1.24</td>
      <td>-4.91</td>
      <td>25.148</td>
      <td>26.805</td>
      <td>28.733</td>
      <td>103483.37</td>
      <td>125230.68</td>
      <td>189422.51</td>
      <td>1.91</td>
    </tr>
    <tr>
      <th>2017-11-22</th>
      <td>25.21</td>
      <td>25.90</td>
      <td>25.26</td>
      <td>24.84</td>
      <td>68269.50</td>
      <td>-0.03</td>
      <td>-0.12</td>
      <td>25.976</td>
      <td>27.239</td>
      <td>29.152</td>
      <td>105831.21</td>
      <td>136697.60</td>
      <td>210698.95</td>
      <td>1.71</td>
    </tr>
    <tr>
      <th>2017-11-21</th>
      <td>24.60</td>
      <td>25.98</td>
      <td>25.28</td>
      <td>24.56</td>
      <td>79894.52</td>
      <td>0.17</td>
      <td>0.68</td>
      <td>26.616</td>
      <td>27.617</td>
      <td>29.376</td>
      <td>116461.20</td>
      <td>146256.01</td>
      <td>223732.84</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th>2017-11-20</th>
      <td>25.55</td>
      <td>25.58</td>
      <td>25.09</td>
      <td>23.46</td>
      <td>125673.20</td>
      <td>-0.98</td>
      <td>-3.76</td>
      <td>27.428</td>
      <td>27.987</td>
      <td>29.514</td>
      <td>149236.94</td>
      <td>155577.28</td>
      <td>235402.64</td>
      <td>3.15</td>
    </tr>
    <tr>
      <th>2017-11-17</th>
      <td>28.00</td>
      <td>28.15</td>
      <td>26.08</td>
      <td>25.91</td>
      <td>167193.12</td>
      <td>-2.09</td>
      <td>-7.42</td>
      <td>28.060</td>
      <td>28.296</td>
      <td>29.749</td>
      <td>155292.94</td>
      <td>158099.63</td>
      <td>252443.70</td>
      <td>4.18</td>
    </tr>
    <tr>
      <th>2017-11-16</th>
      <td>28.10</td>
      <td>28.72</td>
      <td>28.17</td>
      <td>28.00</td>
      <td>88125.71</td>
      <td>-0.30</td>
      <td>-1.05</td>
      <td>28.462</td>
      <td>28.503</td>
      <td>29.862</td>
      <td>146977.99</td>
      <td>169296.94</td>
      <td>264662.55</td>
      <td>2.21</td>
    </tr>
    <tr>
      <th>2017-11-15</th>
      <td>29.30</td>
      <td>29.30</td>
      <td>28.46</td>
      <td>28.30</td>
      <td>121419.46</td>
      <td>-0.86</td>
      <td>-2.93</td>
      <td>28.502</td>
      <td>28.731</td>
      <td>29.811</td>
      <td>167563.98</td>
      <td>191732.48</td>
      <td>269280.79</td>
      <td>3.04</td>
    </tr>
    <tr>
      <th>2017-11-14</th>
      <td>28.00</td>
      <td>29.89</td>
      <td>29.34</td>
      <td>27.68</td>
      <td>243773.23</td>
      <td>1.10</td>
      <td>3.90</td>
      <td>28.618</td>
      <td>29.268</td>
      <td>29.673</td>
      <td>176050.82</td>
      <td>202823.06</td>
      <td>268677.48</td>
      <td>6.10</td>
    </tr>
    <tr>
      <th>2017-11-13</th>
      <td>28.61</td>
      <td>29.23</td>
      <td>28.25</td>
      <td>28.09</td>
      <td>155953.17</td>
      <td>0.16</td>
      <td>0.57</td>
      <td>28.546</td>
      <td>29.778</td>
      <td>29.477</td>
      <td>161917.62</td>
      <td>214611.83</td>
      <td>259871.29</td>
      <td>3.90</td>
    </tr>
    <tr>
      <th>2017-11-10</th>
      <td>28.78</td>
      <td>28.99</td>
      <td>28.09</td>
      <td>27.88</td>
      <td>125618.36</td>
      <td>-0.28</td>
      <td>-0.99</td>
      <td>28.532</td>
      <td>30.159</td>
      <td>29.324</td>
      <td>160906.32</td>
      <td>232793.74</td>
      <td>257734.07</td>
      <td>3.14</td>
    </tr>
    <tr>
      <th>2017-11-09</th>
      <td>28.88</td>
      <td>29.09</td>
      <td>28.37</td>
      <td>27.76</td>
      <td>191055.70</td>
      <td>-0.67</td>
      <td>-2.31</td>
      <td>28.544</td>
      <td>30.661</td>
      <td>29.237</td>
      <td>191615.90</td>
      <td>253614.34</td>
      <td>254168.58</td>
      <td>4.78</td>
    </tr>
    <tr>
      <th>2017-11-08</th>
      <td>28.80</td>
      <td>29.70</td>
      <td>29.04</td>
      <td>28.11</td>
      <td>163853.66</td>
      <td>0.06</td>
      <td>0.21</td>
      <td>28.960</td>
      <td>31.065</td>
      <td>29.132</td>
      <td>215900.97</td>
      <td>284700.31</td>
      <td>248910.25</td>
      <td>4.10</td>
    </tr>
    <tr>
      <th>2017-11-07</th>
      <td>28.60</td>
      <td>29.37</td>
      <td>28.98</td>
      <td>28.42</td>
      <td>173107.20</td>
      <td>0.80</td>
      <td>2.84</td>
      <td>29.918</td>
      <td>31.134</td>
      <td>28.995</td>
      <td>229595.30</td>
      <td>301209.67</td>
      <td>247155.94</td>
      <td>4.33</td>
    </tr>
    <tr>
      <th>2017-11-06</th>
      <td>28.67</td>
      <td>28.74</td>
      <td>28.18</td>
      <td>27.76</td>
      <td>150896.66</td>
      <td>0.03</td>
      <td>0.11</td>
      <td>31.010</td>
      <td>31.041</td>
      <td>28.902</td>
      <td>267306.04</td>
      <td>315227.99</td>
      <td>242961.71</td>
      <td>3.78</td>
    </tr>
    <tr>
      <th>2017-11-03</th>
      <td>28.86</td>
      <td>29.62</td>
      <td>28.15</td>
      <td>28.03</td>
      <td>279166.28</td>
      <td>-2.30</td>
      <td>-7.55</td>
      <td>31.786</td>
      <td>31.202</td>
      <td>28.861</td>
      <td>304681.17</td>
      <td>346787.77</td>
      <td>243949.88</td>
      <td>6.99</td>
    </tr>
    <tr>
      <th>2017-11-02</th>
      <td>31.80</td>
      <td>31.80</td>
      <td>30.45</td>
      <td>30.45</td>
      <td>312481.06</td>
      <td>-3.38</td>
      <td>-9.99</td>
      <td>32.778</td>
      <td>31.220</td>
      <td>28.843</td>
      <td>315612.77</td>
      <td>360028.16</td>
      <td>237874.80</td>
      <td>7.82</td>
    </tr>
    <tr>
      <th>2017-11-01</th>
      <td>33.85</td>
      <td>34.34</td>
      <td>33.83</td>
      <td>33.10</td>
      <td>232325.30</td>
      <td>-0.61</td>
      <td>-1.77</td>
      <td>33.170</td>
      <td>30.891</td>
      <td>28.684</td>
      <td>353499.64</td>
      <td>346829.10</td>
      <td>233701.92</td>
      <td>5.81</td>
    </tr>
    <tr>
      <th>2017-10-31</th>
      <td>32.62</td>
      <td>35.22</td>
      <td>34.44</td>
      <td>32.20</td>
      <td>361660.88</td>
      <td>2.38</td>
      <td>7.42</td>
      <td>32.350</td>
      <td>30.077</td>
      <td>28.406</td>
      <td>372824.04</td>
      <td>334531.90</td>
      <td>241075.48</td>
      <td>9.05</td>
    </tr>
    <tr>
      <th>2017-10-30</th>
      <td>32.56</td>
      <td>34.40</td>
      <td>32.06</td>
      <td>31.85</td>
      <td>337772.31</td>
      <td>-1.05</td>
      <td>-3.17</td>
      <td>31.072</td>
      <td>29.176</td>
      <td>28.010</td>
      <td>363149.95</td>
      <td>305130.76</td>
      <td>231267.29</td>
      <td>8.45</td>
    </tr>
    <tr>
      <th>2017-10-27</th>
      <td>31.45</td>
      <td>33.20</td>
      <td>33.11</td>
      <td>31.45</td>
      <td>333824.31</td>
      <td>0.70</td>
      <td>2.16</td>
      <td>30.618</td>
      <td>28.489</td>
      <td>27.652</td>
      <td>388894.38</td>
      <td>282674.40</td>
      <td>221367.64</td>
      <td>8.35</td>
    </tr>
    <tr>
      <th>2017-10-26</th>
      <td>29.30</td>
      <td>32.70</td>
      <td>32.41</td>
      <td>28.92</td>
      <td>501915.41</td>
      <td>2.68</td>
      <td>9.01</td>
      <td>29.662</td>
      <td>27.813</td>
      <td>27.306</td>
      <td>404443.54</td>
      <td>254722.83</td>
      <td>215395.01</td>
      <td>12.56</td>
    </tr>
    <tr>
      <th>2017-10-25</th>
      <td>27.86</td>
      <td>30.45</td>
      <td>29.73</td>
      <td>27.54</td>
      <td>328947.31</td>
      <td>1.68</td>
      <td>5.99</td>
      <td>28.612</td>
      <td>27.198</td>
      <td>27.072</td>
      <td>340158.56</td>
      <td>213120.20</td>
      <td>208416.55</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>2017-10-24</th>
      <td>28.20</td>
      <td>28.75</td>
      <td>28.05</td>
      <td>27.22</td>
      <td>313290.41</td>
      <td>-1.74</td>
      <td>-5.84</td>
      <td>27.804</td>
      <td>26.856</td>
      <td>26.880</td>
      <td>296239.76</td>
      <td>193102.21</td>
      <td>197044.24</td>
      <td>7.84</td>
    </tr>
    <tr>
      <th>2017-10-23</th>
      <td>29.00</td>
      <td>31.16</td>
      <td>29.79</td>
      <td>28.90</td>
      <td>466494.47</td>
      <td>1.46</td>
      <td>5.15</td>
      <td>27.280</td>
      <td>26.763</td>
      <td>26.764</td>
      <td>247111.56</td>
      <td>170695.43</td>
      <td>186873.57</td>
      <td>11.68</td>
    </tr>
    <tr>
      <th>2017-10-20</th>
      <td>29.20</td>
      <td>29.83</td>
      <td>28.33</td>
      <td>27.85</td>
      <td>411570.12</td>
      <td>1.17</td>
      <td>4.31</td>
      <td>26.360</td>
      <td>26.519</td>
      <td>26.572</td>
      <td>176454.41</td>
      <td>141111.99</td>
      <td>171445.99</td>
      <td>10.30</td>
    </tr>
    <tr>
      <th>2017-10-19</th>
      <td>25.61</td>
      <td>27.20</td>
      <td>27.16</td>
      <td>25.61</td>
      <td>180490.47</td>
      <td>1.47</td>
      <td>5.72</td>
      <td>25.964</td>
      <td>26.465</td>
      <td>26.500</td>
      <td>105002.11</td>
      <td>115721.45</td>
      <td>159293.58</td>
      <td>4.52</td>
    </tr>
    <tr>
      <th>2017-10-18</th>
      <td>25.63</td>
      <td>26.41</td>
      <td>25.69</td>
      <td>25.50</td>
      <td>109353.35</td>
      <td>0.26</td>
      <td>1.02</td>
      <td>25.784</td>
      <td>26.477</td>
      <td>26.479</td>
      <td>86081.84</td>
      <td>120574.74</td>
      <td>156028.36</td>
      <td>2.74</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2015-01-20</th>
      <td>10.97</td>
      <td>11.13</td>
      <td>11.10</td>
      <td>10.90</td>
      <td>26312.86</td>
      <td>0.31</td>
      <td>2.87</td>
      <td>11.032</td>
      <td>11.190</td>
      <td>11.173</td>
      <td>28775.14</td>
      <td>38070.45</td>
      <td>50735.75</td>
      <td>0.90</td>
    </tr>
    <tr>
      <th>2015-01-19</th>
      <td>11.02</td>
      <td>11.28</td>
      <td>10.79</td>
      <td>10.55</td>
      <td>36689.00</td>
      <td>-0.55</td>
      <td>-4.85</td>
      <td>11.014</td>
      <td>11.241</td>
      <td>11.227</td>
      <td>27454.97</td>
      <td>41359.16</td>
      <td>54894.51</td>
      <td>1.26</td>
    </tr>
    <tr>
      <th>2015-01-16</th>
      <td>11.09</td>
      <td>11.49</td>
      <td>11.34</td>
      <td>11.08</td>
      <td>43088.08</td>
      <td>0.38</td>
      <td>3.47</td>
      <td>11.038</td>
      <td>11.288</td>
      <td>11.323</td>
      <td>25864.80</td>
      <td>42328.62</td>
      <td>62072.27</td>
      <td>1.47</td>
    </tr>
    <tr>
      <th>2015-01-15</th>
      <td>10.87</td>
      <td>11.01</td>
      <td>10.96</td>
      <td>10.80</td>
      <td>18112.66</td>
      <td>-0.01</td>
      <td>-0.09</td>
      <td>11.016</td>
      <td>11.266</td>
      <td>11.428</td>
      <td>26217.50</td>
      <td>41743.24</td>
      <td>71608.44</td>
      <td>0.62</td>
    </tr>
    <tr>
      <th>2015-01-14</th>
      <td>11.00</td>
      <td>11.13</td>
      <td>10.97</td>
      <td>10.89</td>
      <td>19673.11</td>
      <td>-0.04</td>
      <td>-0.36</td>
      <td>11.158</td>
      <td>11.262</td>
      <td>11.514</td>
      <td>33964.11</td>
      <td>44506.92</td>
      <td>79254.91</td>
      <td>0.67</td>
    </tr>
    <tr>
      <th>2015-01-13</th>
      <td>10.93</td>
      <td>11.03</td>
      <td>11.01</td>
      <td>10.89</td>
      <td>19711.99</td>
      <td>0.10</td>
      <td>0.92</td>
      <td>11.348</td>
      <td>11.265</td>
      <td>11.585</td>
      <td>47365.76</td>
      <td>51110.07</td>
      <td>87249.09</td>
      <td>0.67</td>
    </tr>
    <tr>
      <th>2015-01-12</th>
      <td>11.08</td>
      <td>11.18</td>
      <td>10.91</td>
      <td>10.81</td>
      <td>28738.16</td>
      <td>-0.32</td>
      <td>-2.85</td>
      <td>11.468</td>
      <td>11.312</td>
      <td>11.648</td>
      <td>55263.35</td>
      <td>56956.05</td>
      <td>109282.42</td>
      <td>0.98</td>
    </tr>
    <tr>
      <th>2015-01-09</th>
      <td>11.68</td>
      <td>11.71</td>
      <td>11.23</td>
      <td>11.19</td>
      <td>44851.56</td>
      <td>-0.44</td>
      <td>-3.77</td>
      <td>11.538</td>
      <td>11.363</td>
      <td>11.682</td>
      <td>58792.43</td>
      <td>60665.93</td>
      <td>107924.27</td>
      <td>1.54</td>
    </tr>
    <tr>
      <th>2015-01-08</th>
      <td>11.70</td>
      <td>11.92</td>
      <td>11.67</td>
      <td>11.64</td>
      <td>56845.71</td>
      <td>-0.25</td>
      <td>-2.10</td>
      <td>11.516</td>
      <td>11.349</td>
      <td>11.647</td>
      <td>57268.99</td>
      <td>61376.00</td>
      <td>105823.50</td>
      <td>1.95</td>
    </tr>
    <tr>
      <th>2015-01-07</th>
      <td>11.58</td>
      <td>11.99</td>
      <td>11.92</td>
      <td>11.48</td>
      <td>86681.38</td>
      <td>0.31</td>
      <td>2.67</td>
      <td>11.366</td>
      <td>11.251</td>
      <td>11.543</td>
      <td>55049.74</td>
      <td>61628.07</td>
      <td>103010.58</td>
      <td>2.97</td>
    </tr>
    <tr>
      <th>2015-01-06</th>
      <td>11.13</td>
      <td>11.66</td>
      <td>11.61</td>
      <td>11.03</td>
      <td>59199.93</td>
      <td>0.35</td>
      <td>3.11</td>
      <td>11.182</td>
      <td>11.155</td>
      <td>11.382</td>
      <td>54854.38</td>
      <td>63401.05</td>
      <td>98686.98</td>
      <td>2.03</td>
    </tr>
    <tr>
      <th>2015-01-05</th>
      <td>11.16</td>
      <td>11.39</td>
      <td>11.26</td>
      <td>10.89</td>
      <td>46383.57</td>
      <td>0.14</td>
      <td>1.26</td>
      <td>11.156</td>
      <td>11.212</td>
      <td>11.370</td>
      <td>58648.75</td>
      <td>68429.87</td>
      <td>100765.24</td>
      <td>1.59</td>
    </tr>
    <tr>
      <th>2014-12-31</th>
      <td>10.93</td>
      <td>11.26</td>
      <td>11.12</td>
      <td>10.93</td>
      <td>37234.34</td>
      <td>0.20</td>
      <td>1.83</td>
      <td>11.188</td>
      <td>11.358</td>
      <td>11.376</td>
      <td>62539.43</td>
      <td>81815.93</td>
      <td>103786.45</td>
      <td>1.27</td>
    </tr>
    <tr>
      <th>2014-12-30</th>
      <td>11.04</td>
      <td>11.13</td>
      <td>10.92</td>
      <td>10.70</td>
      <td>45749.46</td>
      <td>-0.08</td>
      <td>-0.73</td>
      <td>11.182</td>
      <td>11.589</td>
      <td>11.391</td>
      <td>65483.02</td>
      <td>101473.63</td>
      <td>107701.28</td>
      <td>1.57</td>
    </tr>
    <tr>
      <th>2014-12-29</th>
      <td>11.48</td>
      <td>11.58</td>
      <td>11.00</td>
      <td>10.96</td>
      <td>85704.61</td>
      <td>-0.48</td>
      <td>-4.18</td>
      <td>11.136</td>
      <td>11.765</td>
      <td>11.421</td>
      <td>68206.41</td>
      <td>114002.91</td>
      <td>111573.27</td>
      <td>2.93</td>
    </tr>
    <tr>
      <th>2014-12-26</th>
      <td>11.40</td>
      <td>11.79</td>
      <td>11.48</td>
      <td>11.28</td>
      <td>78171.76</td>
      <td>0.06</td>
      <td>0.53</td>
      <td>11.128</td>
      <td>11.904</td>
      <td>11.449</td>
      <td>71947.71</td>
      <td>123388.12</td>
      <td>113297.84</td>
      <td>2.68</td>
    </tr>
    <tr>
      <th>2014-12-25</th>
      <td>11.13</td>
      <td>11.64</td>
      <td>11.42</td>
      <td>10.97</td>
      <td>65836.99</td>
      <td>0.33</td>
      <td>2.98</td>
      <td>11.268</td>
      <td>11.983</td>
      <td>11.446</td>
      <td>78210.99</td>
      <td>161608.79</td>
      <td>115806.85</td>
      <td>2.25</td>
    </tr>
    <tr>
      <th>2014-12-24</th>
      <td>10.99</td>
      <td>11.19</td>
      <td>11.09</td>
      <td>10.86</td>
      <td>51952.29</td>
      <td>0.40</td>
      <td>3.74</td>
      <td>11.528</td>
      <td>12.000</td>
      <td>11.448</td>
      <td>101092.43</td>
      <td>155182.60</td>
      <td>119650.69</td>
      <td>1.78</td>
    </tr>
    <tr>
      <th>2014-12-23</th>
      <td>10.80</td>
      <td>11.40</td>
      <td>10.69</td>
      <td>10.66</td>
      <td>59366.41</td>
      <td>-0.27</td>
      <td>-2.46</td>
      <td>11.996</td>
      <td>11.945</td>
      <td>11.478</td>
      <td>137464.25</td>
      <td>150270.99</td>
      <td>125292.22</td>
      <td>2.03</td>
    </tr>
    <tr>
      <th>2014-12-22</th>
      <td>12.18</td>
      <td>12.25</td>
      <td>10.96</td>
      <td>10.96</td>
      <td>104411.12</td>
      <td>-1.22</td>
      <td>-10.02</td>
      <td>12.394</td>
      <td>11.834</td>
      <td>11.550</td>
      <td>159799.40</td>
      <td>144393.09</td>
      <td>131285.47</td>
      <td>3.57</td>
    </tr>
    <tr>
      <th>2014-12-19</th>
      <td>12.59</td>
      <td>12.72</td>
      <td>12.18</td>
      <td>12.02</td>
      <td>109488.12</td>
      <td>-0.54</td>
      <td>-4.25</td>
      <td>12.680</td>
      <td>11.609</td>
      <td>11.609</td>
      <td>174828.52</td>
      <td>133972.91</td>
      <td>133972.91</td>
      <td>3.75</td>
    </tr>
    <tr>
      <th>2014-12-18</th>
      <td>12.98</td>
      <td>13.28</td>
      <td>12.72</td>
      <td>12.60</td>
      <td>180244.20</td>
      <td>-0.71</td>
      <td>-5.29</td>
      <td>12.698</td>
      <td>11.546</td>
      <td>11.546</td>
      <td>245006.60</td>
      <td>136693.44</td>
      <td>136693.44</td>
      <td>6.17</td>
    </tr>
    <tr>
      <th>2014-12-17</th>
      <td>12.64</td>
      <td>13.60</td>
      <td>13.43</td>
      <td>12.32</td>
      <td>233811.38</td>
      <td>0.75</td>
      <td>5.92</td>
      <td>12.472</td>
      <td>11.399</td>
      <td>11.399</td>
      <td>209272.78</td>
      <td>131249.60</td>
      <td>131249.60</td>

In [14]:
stock["high"] #取出列

date
2017-11-28    24.90
2017-11-27    24.95
2017-11-24    24.70
2017-11-23    25.43
2017-11-22    25.90
2017-11-21    25.98
2017-11-20    25.58
2017-11-17    28.15
2017-11-16    28.72
2017-11-15    29.30
2017-11-14    29.89
2017-11-13    29.23
2017-11-10    28.99
2017-11-09    29.09
2017-11-08    29.70
2017-11-07    29.37
2017-11-06    28.74
2017-11-03    29.62
2017-11-02    31.80
2017-11-01    34.34
2017-10-31    35.22
2017-10-30    34.40
2017-10-27    33.20
2017-10-26    32.70
2017-10-25    30.45
2017-10-24    28.75
2017-10-23    31.16
2017-10-20    29.83
2017-10-19    27.20
2017-10-18    26.41
              ...
2015-01-20    11.13
2015-01-19    11.28
2015-01-16    11.49
2015-01-15    11.01
2015-01-14    11.13
2015-01-13    11.03
2015-01-12    11.18
2015-01-09    11.71
2015-01-08    11.92
2015-01-07    11.99
2015-01-06    11.66
2015-01-05    11.39
2014-12-31    11.26
2014-12-30    11.13
2014-12-29    11.58
2014-12-26    11.79
2014-12-25    11.64
2014-12-24    11.19
2014-12-23    11.40
2014-12-22    12.25
2014-12-19    12.72
2014-12-18    13.28
2014-12-17    13.60
2014-12-16    12.88
2014-12-15    12.90
2014-12-12    12.75
2014-12-11    11.59
2014-12-10    10.54
2014-12-09     9.58
2014-12-08     8.71
Name: high, Length: 637, dtype: float64

In [15]:
stock[0:5] #取出列

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>close</th>
      <th>low</th>
      <th>volume</th>
      <th>price_change</th>
      <th>p_change</th>
      <th>ma5</th>
      <th>ma10</th>
      <th>ma20</th>
      <th>v_ma5</th>
      <th>v_ma10</th>
      <th>v_ma20</th>
      <th>turnover</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-11-28</th>
      <td>24.01</td>
      <td>24.90</td>
      <td>24.70</td>
      <td>24.00</td>
      <td>49008.50</td>
      <td>0.50</td>
      <td>2.07</td>
      <td>24.530</td>
      <td>25.573</td>
      <td>27.421</td>
      <td>61031.58</td>
      <td>88746.39</td>
      <td>145784.73</td>
      <td>1.23</td>
    </tr>
    <tr>
      <th>2017-11-27</th>
      <td>24.40</td>
      <td>24.95</td>
      <td>24.21</td>
      <td>24.01</td>
      <td>58332.89</td>
      <td>-0.23</td>
      <td>-0.94</td>
      <td>24.646</td>
      <td>26.037</td>
      <td>27.908</td>
      <td>67208.79</td>
      <td>108222.87</td>
      <td>161417.35</td>
      <td>1.46</td>
    </tr>
    <tr>
      <th>2017-11-24</th>
      <td>24.10</td>
      <td>24.70</td>
      <td>24.45</td>
      <td>24.09</td>
      <td>53160.52</td>
      <td>0.43</td>
      <td>1.79</td>
      <td>24.822</td>
      <td>26.441</td>
      <td>28.300</td>
      <td>80676.85</td>
      <td>117984.89</td>
      <td>175389.32</td>
      <td>1.33</td>
    </tr>
    <tr>
      <th>2017-11-23</th>
      <td>25.30</td>
      <td>25.43</td>
      <td>24.03</td>
      <td>23.98</td>
      <td>76386.50</td>
      <td>-1.24</td>
      <td>-4.91</td>
      <td>25.148</td>
      <td>26.805</td>
      <td>28.733</td>
      <td>103483.37</td>
      <td>125230.68</td>
      <td>189422.51</td>
      <td>1.91</td>
    </tr>
    <tr>
      <th>2017-11-22</th>
      <td>25.21</td>
      <td>25.90</td>
      <td>25.26</td>
      <td>24.84</td>
      <td>68269.50</td>
      <td>-0.03</td>
      <td>-0.12</td>
      <td>25.976</td>
      <td>27.239</td>
      <td>29.152</td>
      <td>105831.21</td>
      <td>136697.60</td>
      <td>210698.95</td>
      <td>1.71</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
stock["open"][0:5] #查看前五行的开盘价

date
2017-11-28    24.01
2017-11-27    24.40
2017-11-24    24.10
2017-11-23    25.30
2017-11-22    25.21
Name: open, dtype: float64

In [18]:
stock[0:5] ["open"] #等价

date
2017-11-28    24.01
2017-11-27    24.40
2017-11-24    24.10
2017-11-23    25.30
2017-11-22    25.21
Name: open, dtype: float64

In [19]:
stock.head(5)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>close</th>
      <th>low</th>
      <th>volume</th>
      <th>price_change</th>
      <th>p_change</th>
      <th>ma5</th>
      <th>ma10</th>
      <th>ma20</th>
      <th>v_ma5</th>
      <th>v_ma10</th>
      <th>v_ma20</th>
      <th>turnover</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-11-28</th>
      <td>24.01</td>
      <td>24.90</td>
      <td>24.70</td>
      <td>24.00</td>
      <td>49008.50</td>
      <td>0.50</td>
      <td>2.07</td>
      <td>24.530</td>
      <td>25.573</td>
      <td>27.421</td>
      <td>61031.58</td>
      <td>88746.39</td>
      <td>145784.73</td>
      <td>1.23</td>
    </tr>
    <tr>
      <th>2017-11-27</th>
      <td>24.40</td>
      <td>24.95</td>
      <td>24.21</td>
      <td>24.01</td>
      <td>58332.89</td>
      <td>-0.23</td>
      <td>-0.94</td>
      <td>24.646</td>
      <td>26.037</td>
      <td>27.908</td>
      <td>67208.79</td>
      <td>108222.87</td>
      <td>161417.35</td>
      <td>1.46</td>
    </tr>
    <tr>
      <th>2017-11-24</th>
      <td>24.10</td>
      <td>24.70</td>
      <td>24.45</td>
      <td>24.09</td>
      <td>53160.52</td>
      <td>0.43</td>
      <td>1.79</td>
      <td>24.822</td>
      <td>26.441</td>
      <td>28.300</td>
      <td>80676.85</td>
      <td>117984.89</td>
      <td>175389.32</td>
      <td>1.33</td>
    </tr>
    <tr>
      <th>2017-11-23</th>
      <td>25.30</td>
      <td>25.43</td>
      <td>24.03</td>
      <td>23.98</td>
      <td>76386.50</td>
      <td>-1.24</td>
      <td>-4.91</td>
      <td>25.148</td>
      <td>26.805</td>
      <td>28.733</td>
      <td>103483.37</td>
      <td>125230.68</td>
      <td>189422.51</td>
      <td>1.91</td>
    </tr>
    <tr>
      <th>2017-11-22</th>
      <td>25.21</td>
      <td>25.90</td>
      <td>25.26</td>
      <td>24.84</td>
      <td>68269.50</td>
      <td>-0.03</td>
      <td>-0.12</td>
      <td>25.976</td>
      <td>27.239</td>
      <td>29.152</td>
      <td>105831.21</td>
      <td>136697.60</td>
      <td>210698.95</td>
      <td>1.71</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
stock[["open","high","close","low"]][0:5] #选择其中某几列

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>close</th>
      <th>low</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-11-28</th>
      <td>24.01</td>
      <td>24.90</td>
      <td>24.70</td>
      <td>24.00</td>
    </tr>
    <tr>
      <th>2017-11-27</th>
      <td>24.40</td>
      <td>24.95</td>
      <td>24.21</td>
      <td>24.01</td>
    </tr>
    <tr>
      <th>2017-11-24</th>
      <td>24.10</td>
      <td>24.70</td>
      <td>24.45</td>
      <td>24.09</td>
    </tr>
    <tr>
      <th>2017-11-23</th>
      <td>25.30</td>
      <td>25.43</td>
      <td>24.03</td>
      <td>23.98</td>
    </tr>
    <tr>
      <th>2017-11-22</th>
      <td>25.21</td>
      <td>25.90</td>
      <td>25.26</td>
      <td>24.84</td>
    </tr>
  </tbody>
</table>
</div>

In [24]:
stock["open"].value_counts() #计次,排序，

21.30    6
20.85    6
24.10    5
22.20    5
22.60    4
21.61    4
21.90    4
21.00    4
15.50    4
21.14    4
20.55    3
22.30    3
29.30    3
20.38    3
21.80    3
22.41    3
23.45    3
21.79    3
19.60    3
21.82    3
17.85    3
21.88    3
21.45    3
21.21    3
19.35    3
28.00    3
18.50    3
21.60    3
21.10    3
22.50    3
        ..
28.88    1
27.12    1
16.94    1
21.93    1
21.99    1
27.86    1
19.40    1
11.99    1
14.86    1
17.20    1
22.52    1
16.96    1
22.64    1
26.58    1
22.17    1
17.98    1
15.55    1
23.78    1
22.28    1
20.91    1
19.48    1
12.64    1
18.88    1
20.84    1
21.46    1
23.93    1
21.17    1
17.82    1
23.16    1
18.67    1
Name: open, Length: 483, dtype: int64

In [25]:
high=stock["high"].value_counts() #计次,排序，

In [26]:
type(high) #pandas.core.series.Series

pandas.core.series.Series

In [28]:
high

21.00    4
19.50    4
19.90    3
21.30    3
21.97    3
22.78    3
22.20    3
16.50    3
21.49    3
22.38    3
11.13    3
28.50    3
23.65    3
24.45    3
21.38    3
21.70    3
22.40    3
22.66    3
21.98    3
21.87    3
18.50    3
22.30    3
18.80    3
12.15    3
21.80    3
15.35    2
17.99    2
21.99    2
21.40    2
19.89    2
        ..
19.60    1
14.65    1
29.62    1
28.72    1
11.92    1
13.60    1
18.36    1
29.37    1
16.48    1
22.44    1
15.66    1
20.43    1
18.24    1
12.18    1
19.70    1
25.52    1
20.18    1
20.34    1
20.35    1
17.35    1
17.24    1
18.06    1
17.29    1
18.73    1
13.38    1
24.56    1
21.29    1
22.82    1
14.53    1
28.75    1
Name: high, Length: 501, dtype: int64

In [31]:
type(high)

pandas.core.series.Series

In [32]:
type(stock)

pandas.core.frame.DataFrame

In [42]:
high.index

Float64Index([ 21.0,  19.5,  19.9,  21.3, 21.97, 22.78,  22.2,  16.5, 21.49, 22.38,
              ...
              17.24, 18.06, 17.29, 18.73, 13.38, 24.56, 21.29, 22.82, 14.53, 28.75], dtype='float64', length=501)